@media screen and (min-width: 360px) {
    .client {
        min-height: 95rem;
    }

    .content__text {
        width: 30rem;
    }

    .article2,
    .article3 {
        width: 15rem;
        height: 14rem;
    }
}

@media screen and (min-width: 410px) {
    .model {
        width: 20rem;
    }

    .about {
        min-height: 60rem;
    }

    .about .content__text--wide {
        margin-top: 5rem;
    }

    .subtitle--wide {
        width: 33rem;
    }

    .services__item {
        max-width: 33rem;
    }

    .profile .section-header--center {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .client {
        min-height: 105rem;
    }

    .article2,
    .article3 {
        width: 17rem;
    }

    .article__content,
    .date {
        font-size: 1.5rem;
    }

    .contact-form__item input,
    .contact-form__item textarea {
        width: 25rem;
        margin-left: 0.7rem;
    }

    .btn--margin {
        margin-left: 8.7rem;
    }

    .social-media {
        width: 90%;
    }

    .social-media__item {
        width: 4rem;
        height: 4rem;
    }

    .social-media__item i {
        font-size: 1.7rem;
    }

    .content__text {
        width: 34rem;
    }
}

@media screen and (min-width: 540px) {
    .heading {
        width: 50rem;
    }

    .model {
        width: 24rem;
    }

    .services__item {
        max-width: 42rem;
    }

    .client {
        min-height: 115rem;
    }

    .article__title {
        font-size: 1.9rem;
    }

    .article__title--big {
        font-size: 2.7rem;
    }

    .article__content,
    .date {
        font-size: 1.6rem;
    }

    .article1 {
        height: 20rem;
    }

    .article2,
    .article3 {
        width: 23rem;
        height: 15rem;
    }

    .article4 {
        height: 38rem;
    }

    .article5 {
        height: 24rem;
    }

    .article5 .article__title {
        margin-bottom: 3rem;
    }

    .address-info__item {
        padding-left: 8rem;
        margin-bottom: 2.3rem;
    }

    .address__text {
        font-size: 1.5rem;
    }

    .address__text--bold {
        font-size: 1.7rem;
    }

    .contact-form__item input,
    .contact-form__item textarea {
        width: 36rem;
        margin-left: 1rem;
    }

    .btn--margin {
        margin-left: 9rem;
    }

    .contact-form__item label {
        font-size: 1.7rem;
    }

    .social-media {
        width: 85%;
    }

    .social-media__item {
        width: 4.5rem;
        height: 4.5rem;
    }

    .social-media__item i {
        font-size: 1.8rem;
    }

    .footer__text {
        font-size: 1.7rem;
    }

    .content__text--wide {
        width: 40rem;
    }
}

@media screen and (min-width: 600px) {
    .header__wrapper {
        padding: 0 6rem;
    }

    .logo {
        font-size: 3.4rem;
    }

    .heading {
        font-size: 3.5rem;
        line-height: 4.4rem;
    }

    .sub-heading {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3.4rem;
    }

    .model {
        right: 5vw;
        bottom: -7.4rem;
        width: 26rem;
    }

    .home__wrapper {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .profile__container {
        padding-top: 12rem;
    }

    .about {
        min-height: 73rem;
    }

    .about .content__text--wide {
        margin-top: 7.6rem;
    }

    .services {
        min-height: 50rem;
    }

    .services__item-heading {
        font-size: 2.5rem;
        line-height: 3.2rem;
    }

    .services__item-content {
        font-size: 1.6rem;
    }

    .services__item {
        max-width: 50rem;
        margin-bottom: 9rem;
    }

    .services__item:last-child {
        margin-bottom: 0;
    }

    .client {
        min-height: 75rem;
    }

    .client .container {
        padding: 12rem 10vw 5rem;
    }

    .client__logos {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .client__logo {
        width: 35%;
    }

    .blog .container {
        margin-bottom: 0;
    }

    .article2,
    .article3 {
        width: 22rem;
    }

    .article1 {
        padding: 0 2.5rem;
    }

    .article4 .overlay {
        padding: 2.3rem 2.5rem 3.5rem;
    }

    .article5 {
        padding: 2.3rem 2.5rem 2.5rem;
    }

    .contact {
        height: 140rem;
    }

    .address-info__item {
        padding-left: 8rem;
        margin-bottom: 2.3rem;
    }

    .address__text {
        font-size: 1.6rem;
    }

    .contact-form__item input,
    .contact-form__item textarea {
        margin-left: 2rem;
    }

    .btn--margin {
        margin-left: 10.1rem;
    }

    .title {
        font-size: 3.3rem;
    }

    .title--margin {
        margin-bottom: 2.7rem;
    }

    .subtitle {
        font-size: 2.5rem;
    }

    .subtitle--wide {
        width: 48.2rem;
    }

    .content__text {
        font-size: 1.6rem;
        line-height: 2.8rem;
        width: 49rem;
        margin-bottom: 3.5rem;
    }

    .content__text--wide {
        width: 47rem;
    }

    .container {
        padding: 12rem 10vw;
    }

    .subtitle--big {
        font-size: 3.5rem;
    }

    .btn {
        width: 13rem;
        line-height: 3.6rem;
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 700px) {

    .article2,
    .article3 {
        width: 26rem;
        height: 16rem;
    }
}

@media screen and (min-width: 768px) {
    .header__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 1rem;
    }

    .burger {
        display: none;
    }

    .site-nav {
        position: static;
        width: 68%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .site-nav__menu {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        list-style-type: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
    }

    .site-nav__item {
        border-top: 7px solid transparent;
        line-height: 50px;
        text-align: center;
    }

    .site-nav__link {
        display: inline-block;
        background-color: transparent;
        border-bottom: none;
    }

    .site-nav__item:hover {
        border-top: 7px solid #0081ff;
    }

    .site-nav__link:hover {
        background-color: transparent;
        color: #fff;
        font-weight: normal;
        border-bottom: none;
    }

    .home {
        min-height: 90rem;
    }

    .home .content__text--wide {
        width: 48rem;
    }

    .heading {
        font-size: 3.8rem;
        line-height: 4.8rem;
        width: 60rem;
    }

    .sub-heading {
        font-size: 3rem;
        line-height: 3.6rem;
    }

    .model {
        right: 1vw;
        width: 36rem;
        bottom: -5.4rem;
    }

    .services__item {
        max-width: 60rem;
    }

    .services__item-content {
        font-size: 1.7rem;
    }


    .profile__columns {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .client {
        min-height: 90rem;
    }

    .article2,
    .article3 {
        width: 29rem;
    }

    .article__title {
        font-size: 2rem;
    }

    .article__title--big {
        font-size: 2.7rem;
    }

    .article__content {
        font-size: 1.7rem;
    }

    .date {
        font-size: 1.7rem;
    }

    .social-media {
        width: 80%;
    }

    .social-media__item {
        width: 6rem;
        height: 6rem;
    }

    .social-media__item i {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 3.2rem;
    }

    .content__text {
        font-size: 1.7rem;
        line-height: 3rem;
        width: 51rem;
    }

    .content__text--wide {
        width: 52rem;
    }
}

@media screen and (min-width: 920px) {
    .header__wrapper {
        padding: 0 5rem;
    }

    .content__text--wide {
        width: 58.4rem;
    }

    .home .content__text--wide {
        width: 58.4rem;
    }

    .client {
        min-height: 70rem;
    }

    .client__logos {
        height: 17.7rem;
        padding-left: 0;
        padding-right: 0;
    }

    .client__logo {
        width: 20%;
    }

    .client .content__text {
        margin-bottom: 5rem;
    }

    .contact {
        height: 95rem;
    }

    .contact__container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .subtitle--margin {
        margin-bottom: 6rem;
    }

    .contact-form .subtitle {
        margin-top: 6.4rem;
    }

    .address-info__item {
        padding-left: 10rem;
        margin-bottom: 3rem;
    }


    .list-item__email {
        background-size: 6.4rem;
    }

    .list-item__phone {
        background-size: 4.3rem;
    }

    .list-item__pointer {
        background-size: 5.5rem;
    }

    .contact-form__item input,
    .contact-form__item textarea {
        width: 26rem;
    }

    .contact-form__item input {
        margin-left: 1rem;
    }

    .contact-form__item textarea {
        margin-left: 1.3rem;
    }

    .btn--margin {
        margin-left: 9.3rem;
    }

    .social-media {
        width: 68%;
    }
}

@media screen and (min-width: 1024px) {
    .header__wrapper {
        padding: 0 5rem;
    }

    .home__wrapper {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .site-nav {
        width: 60%;
    }

    .heading {
        font-size: 4.1rem;
        line-height: 4.8rem;
    }

    .sub-heading {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }

    .model {
        right: 2vw;
        width: 43rem;
    }

    .about {
        min-height: 52rem;
    }

    .about .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 10rem 5vw 0 5vw;
    }

    .about .subtitle {
        font-size: 2.5rem;
    }

    .about .content__text {
        width: 43rem;
    }

    .about .content__text--wide {
        width: 41rem;
    }

    .services__wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding-left: 0;
        margin-top: 4rem;
        margin-bottom: 5rem;
    }

    .services__item {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        margin-bottom: 7rem;
        padding: 0;
        text-align: left;
    }

    .services__item:last-child {
        margin-bottom: 10rem;
    }

    .icon__services {
        position: absolute;
        top: 0;
        left: -6rem;
        width: 4rem;
    }

    .services__item:nth-child(2) .icon {
        width: 5rem;
        top: 0;
        left: -7rem;
    }

    .blog .container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 10rem;
    }


    .blog__main,
    .blog__aside {
        width: 43rem;
    }

    .blog__aside {
        margin-top: 0;
    }

    .blog .content__text--wide {
        width: 42rem;
    }

    .blog .content__text--margin {
        margin-top: 2rem;
    }

    .article2,
    .article3 {
        width: 21rem;
        height: 22rem;
        margin-top: 0;
    }

    .article4 {
        height: 49.7rem;
    }

    .article5 {
        height: 22rem;
        margin-top: 0;
    }

    .article__title--big {
        margin-bottom: 2.5rem;
    }

    .contact-form__item input,
    .contact-form__item textarea {
        width: 32rem;
    }

    .contact-form__item input {
        margin-left: 2rem;
    }

    .contact-form__item textarea {
        margin-left: 2.3rem;
    }

    .btn--margin {
        margin-left: 10.3rem;
    }

    .social-media {
        width: 55%;
    }

    .subtitle {
        font-size: 3.8rem;
    }

    .container {
        padding: 10rem 5vw 0 5vw;
    }

    .content__text--wide {
        width: 46.1rem;
    }
}

@media screen and (min-width: 1110px) {
    .model {
        right: 1vw;
        width: 47rem;
        bottom: -5.4rem;
    }

    .about .subtitle {
        font-size: 2.8rem;
    }

    .about .content__text,
    .about .content__text--wide,
    .blog__main,
    .blog__aside {
        width: 46rem;
    }

    .article1 {
        height: 24rem;
    }

    .article2,
    .article3 {
        width: 22rem;
        height: 25rem;
    }

    .article4 {
        height: 53.7rem;
    }

    .article5 {
        height: 25rem;
    }

    .article__title {
        font-size: 2.8rem;
    }

    .article__title {
        font-size: 3.2rem;
    }

    .article__content {
        font-size: 1.8rem;
    }

    .date {
        font-size: 1.8rem;
    }

    .contact-form__item input,
    .contact-form__item textarea {
        width: 36rem;
    }

    .container {
        padding: 12rem 7vw 0 7vw;
    }
}

@media screen and (min-width: 1220px) {
    .home__wrapper {
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .about .container {
        padding: 12rem 7vw 0 7vw;
    }

    .services__item {
        -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
        margin-bottom: 10rem;
    }

    .services__item:last-child {
        margin-bottom: 10rem;
    }

    .blog .content__text--wide {
        width: 46rem;
    }

    .blog .content__text--margin {
        margin-top: 2rem;
    }

    .blog__main,
    .blog__aside {
        width: 49rem;
    }

    .client {
        min-height: 75rem;
    }

    .article2,
    .article3 {
        width: 24rem;
    }

    .article4 {
        height: 50.7rem;
    }

    .article__title {
        font-size: 3rem;
    }

    .article__title--big {
        font-size: 3.5rem;
    }

    .article__content,
    .date {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1280px) {
    .model {
        right: 2vw;
        width: 57rem;
    }

    .about .subtitle {
        font-size: 3rem;
    }

    .about .content__text {
        width: 49rem;
    }

    .about .content__text--wide {
        width: 56.1rem;
    }

    .blog__main,
    .blog__aside {
        width: 52rem;
    }

    .article4 {
        height: 46rem;
    }

    .content__text--wide {
        width: 56.1rem;
    }
}

@media screen and (min-width: 1370px) {
    .home__wrapper {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .model {
        width: 60rem;
    }

    .about .container {
        padding: 8.6rem 10vw 0 10vw;
    }

    .blog__main,
    .blog__aside {
        width: 53rem;
    }

    .article2,
    .article3 {
        width: 26rem;
    }

    .container {
        padding: 8.6rem 10vw 0 10vw;
    }

}

@media screen and (min-width: 1455px) {

    .blog__main,
    .blog__aside {
        width: 57rem;
    }

    .article2,
    .article3 {
        width: 27rem;
    }
}

@media screen and (min-width: 1600px) {
    .model {
        right: 10vw;
        width: 61rem;
    }

    .about {
        min-height: 54rem;
    }

    .services__item {
        -ms-flex-preferred-size: 20vw;
        flex-basis: 20vw;
    }

    .subtitle--big {
        font-size: 3.5rem;
    }

    .btn--dark {
        margin-top: 1.8rem;

    }
}